/*
Custom CSS.
*/

body
{    
    padding-bottom: 40px;
}

div.container a.brand
{
    background: url("../../img/efreets-and-genies-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

#map
{
    margin-top: 30px;
}

.bold
{
    font-weight: bold;
} 

.orange
{
    color: orange;
}

#game-window-main, #game-window-buttons, #game-window-messages
{
    height: 370px;
}

.table-scores
{
    border-collapse: separate;
    border-spacing: 2px;         
}

.table-scores thead
{
   background-color: #A9A9A9;
}

.table-scores th
{
    text-align:center; 
    vertical-align:middle;
    border: 1px solid black;
    color: black;
}

.table-scores td
{
    text-align:center; 
    vertical-align:middle;
    padding: 3px;
    border: 1px solid gray;
    background-color: black;
    color: white;    
}


@media (max-width: 320px)
{
    .table-scores th, .table-scores td
    {
        font-size: xx-small;
    }
}